# Python
__pycache__/
*.py[cod]
*.class
*.json
*.pt
*.log
.venv/
.ipynb_checkpoints/
wandb/
.cache/wandb/
# Project Data (Large Files)
data/*.txt
data/*.npz
data/TLEs/
outputs/
checkpoints/

# OS specific
.DS_Store

lib/
logs/*
logs/runs/*/*/*
plots/*
bak/
