# Python
__pycache__/
*.py[cod]
*.class
.venv/
.cache/
.ipynb_checkpoints/

# Project Data (Large Files)
data/*.txt
data/*.npz
data/TLEs/
outputs/
checkpoints/
plots/

# OS specific
.DS_Store

lib/
logs/*.out
logs/*.err
logs/runs/*
wandb/
